
@media (max-width: 800px) {
    body {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        background-color: white;
    }

    .parent {
        width: 100%;
        padding: 0;
        margin: 0;
        overflow-x: hidden; 
    }

    .top img {
        margin: 0; 
        padding: 0; 
        max-width: 100%; 
        height: auto;
    }

    .font-top-h1 {
        font-size: 32px;
        font-weight: 100;
    }

    .perepration-time, .ingedients, .instructions, .nutrition {
        width: 100%;
    }

    .ingedients-sapce, .instractions-space, .p-nutrition, .item-value-Calories,
    .item-value-carbs, .item-value-portin, .item-value-fat {
        padding-right: 5px; 
    }
    .top1{
        padding: 10;
    }
    .top2
    {
        padding: 10;
    }
}
